// Font families:

$style1: 'Cairo', sans-serif;
$style2: 'Archivo Narrow', sans-serif;
$style3:  'Marvel', sans-serif;

// Colors

$primary: #207ef2;
$secondary: #F44336;
$dark: #101010;
$dark2: rgb(21, 21, 21);