// Font families:

$style1: "Cairo", sans-serif;
$style2: "Archivo Narrow", sans-serif;
$style3: "Marvel", sans-serif;
$style4: "Teko", sans-serif;

// Colors

$primary: #207ef2;
$secondary: #f44336;
$dark: #101010;
$dark2: #151515;

// Buttons

$gradient_1: linear-gradient(
  30deg,
  #b5d3cf,
  #ff8533,
  #9c21da,
  #fc506d
);
$gradient_2: linear-gradient(
  30deg,
  rgb(83, 199, 183),
  rgb(51, 122, 255),
  rgb(68, 58, 250),
  rgb(29, 4, 68)
);
$gradient_3: linear-gradient(
  30deg,
  rgb(202, 184, 111),
  rgb(186, 125, 93),
  rgb(201, 91, 192)
);
$gradient_4: linear-gradient(
  120deg,
  transparent,
  rgb(87, 79, 92),
  rgb(76, 141, 145),
  rgb(47, 147, 165)
);

$gradient_epic: linear-gradient(
  30deg,
  #914451, #ff53ff
);

$gradient_rare:  linear-gradient(
  30deg,
  #2a5680, #4ecdff
);

$gradient_common: linear-gradient(
  30deg,
  #2e632c, #6ec944
);

$gradient_blur1: linear-gradient(30deg,
rgba(181, 211, 207, 0.459),
rgba(255, 133, 51, 0.562),
rgba(156, 33, 218, 0.459),
rgba(252, 80, 109, 0.529)
);

$gradient_blur2: linear-gradient(120deg,
rgba(93, 106, 104, 0.459),
rgba(136, 130, 113, 0.377),
rgba(97, 122, 169, 0.459),
rgba(255, 150, 229, 0.529)
);

$gradient_success: linear-gradient(42deg, rgb(98, 209, 98), rgb(9, 121, 97));
$gradient_warning: linear-gradient(42deg, rgb(228, 163, 24), rgb(194, 83, 32));
$gradient_danger: linear-gradient(42deg, rgb(209, 62, 62), rgb(130, 30, 30));
