@import "src/scss/variables";

body {
  padding: 0;
  margin: 0;
}

.gradient-background-1 {
    background: $gradient_1;
}
.gradient-background-2 {
    background: $gradient_2;
}
.gradient-background-3 {
    background: $gradient_3;
}
.gradient-background-4 {
    background: $gradient_4;
}

.movie-badge {
  background: $dark2;
  padding: 0.25em;
  box-shadow: 0px 0px 10px black;
  font-size: 30px;
}

.fadeIn {
    animation: fadeIn 1s ease;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .shadow-text {
    text-shadow: 2px 1px 2px black;
  }

  .v-tooltip__content {
    background: linear-gradient(
      25deg,
      rgb(255, 199, 126),
      rgb(206, 130, 30),
      rgb(214, 52, 52),
      rgb(196, 17, 213)
    );
    color: white;
    padding: 10px;
    max-width: 150px;
    opacity: 1 !important;
    box-shadow: 0px 0px 20px $dark;
    text-align: center;
  }