@import "src/scss/variables";

body {
  padding: 0;
  margin: 0;
}

button:focus {
  outline: none;
}

.gradient-background-1 {
  background: $gradient_1;
}
.gradient-background-2 {
  background: $gradient_2;
}
.gradient-background-3 {
  background: $gradient_3;
}
.gradient-background-4 {
  background: $gradient_4;
}
.gradient-success {
  background: $gradient_success;
}
.gradient-error {
  background: $gradient_danger;
}

.movie-badge {
  background: $dark2;
  padding: 0.25em;
  box-shadow: 0px 0px 10px black;
  font-size: 30px;
}

.fadeIn {
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.shadow-text {
  text-shadow: 2px 1px 2px #303030;
}

.mini-text {
  font-size: 12px;
}

.v-tooltip__content {
  background: linear-gradient(
    25deg,
    rgb(255, 199, 126),
    rgb(206, 130, 30),
    rgb(214, 52, 52),
    rgb(196, 17, 213)
  );
  color: white;
  padding: 10px;
  max-width: 150px;
  opacity: 1 !important;
  box-shadow: 0px 0px 20px $dark;
  text-align: center;
}

.centered-input input {
  text-align: center;
  color: $primary !important;
  font-size: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.surprise {
  animation: surprise 0.3s ease-in-out;
}

@keyframes surprise {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: pulse 1s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.gradient-text {
  background: $gradient_1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.theme--dark.v-chip:not(.v-chip--active) {
  background: $gradient_1 !important;
  color: white !important;
}